<h1>Your Albums</h1>

<ul>
	<% @albums.each do |album| %>
		<li id="album-<%= album.id %>">
			<%= link_to album.title, album %>
		</li>
	<% end %>
</ul>


<%= form_for(@album) do |f| %>
	<div class="field">
		<%= f.text_field :title, placeholder: "Album Title" %>
	</div>
		<%= f.submit "Add Album", class: "btn btn-primary" %>
<% end %>
